<div style="text-align:center">
  <h4 class="trust">As Trusted By</h4>
  <br>
      <img src="../src/assets/photos/spectranet-logo.png" alt="spectra" class="spectra">
      <img src="../src/assets/photos/Bukka-Hut-Logo.png" alt="buka" class="buka">
      <img src="../src/assets/photos/Mega-Chicken-Logo-3D-Low-Res.png" alt="mega" class="mega">
      <img src="../src/assets/photos/nhrh9dpsslom5ssyb4xv.png" alt="fuud" class="fuud">
      <img src="../src/assets/photos/header_the-place-lagos.png" alt="place" class="place">
 </div>
