<div class="imgcontainer">
  <img src="Assets/Group%20829.png" alt="Avatar" class="avatar">
</div>

<div class="container" style="background-color: white">
  <form id="form_id" method="post" name="myform">


      <a href="sign-in.html" button type="button-sign-in" id="button1" style="margin: 5px;"><button>Sign In</button></a>
      <a href="#" button type="button-sign-up" id="button2" style="margin: 5px;"><button>Sign Up</button></a>
      <br>

      <input type="text" name="fname" id="fname" placeholder="Fullname" required/>
      <br>

      <input type="text" name="emailadd" id="emailadd" placeholder="Enter Email Address" required/>
      <br>

      <input type="number" name="pnum" id="pnum" placeholder="Enter Phone Number" required/>
      <br>

      <input type="password" name="password" id="password" placeholder="Enter Password" required/>
      <br>

          <button type="submit" onclick="check()">Sign Up</button>
  <br>
  <p>Or Sign Up with Social Media</p>

  </form>
</div>
