<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="courierservices" [class.activated]="currentUrl == '/courierservices' ">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signin" [class.activated]="currentUrl == '/signin' ">Payment Methods</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signin" [class.activated]="currentUrl == '/signin'">History</a>
        </li>
      </ul>
    </div>
  </nav>
